body, html{
    margin:0px;
    height: 100%;
    width: 100%;
    background-color: #faf8ef;
    padding: 0px;
}


#container{
    margin: auto;
    width: 500px;
    background-color: aqua;
    padding-top: 120px;
}

#board{
    width:500px;
    height: 500px;
    background-color: #bbada0;
    box-sizing: border-box;
    border-radius: 5px; 
    padding:7px;
    display: flex;
    flex-direction : column;
}

#boardRow{
    display: flex;
    width: 100%;
    height: 100%;
}
#boardCol{
    background-color: rgba(238, 228, 218, 0.35);
    width: 100%;
    margin: 7px;
    border-radius: 5px;
    text-align: center;
}

@media (max-width: 600px){
    #container{
        margin: auto;
        width: 280px;
    }
    #board{
        width: 280px;
        height: 280px;
        padding: 4px;
    }
    #boardCol{
        margin:4px;
    }
}