body, html{
    margin:0px;
    height: 100%;
    width: 100%;
    background-color: #faf8ef;
    padding: 0px;
}


#container{
    margin: auto;
    width: 400px;
    padding-top: 20px; 
    text-align: center;
}

#header{
    font-size: 50px;
    padding: 10px;
    font-weight: 600;
}

#board{
    width:400px;
    height: 400px;
    background-color: #bbada0;
    box-sizing: border-box;
    border-radius: 5px; 
    padding:7px;
    display: flex;
    flex-direction : column;
}

.boardRow{
    display: flex;
    width: 100%;
    height: 100%;
}
.boardCol{
    background-color: rgba(238, 228, 218, 0.35);
    color: rgba(0, 0, 0, 0.74);
    width: 100%;
    margin: 7px;
    border-radius: 5px;
    text-align: center;
    font-size:30px;
    padding-top:24px;
    padding-bottom:24px;
    font-weight: bold;
}


.score{
    display: inline-block;
    background-color: rgba(100, 85, 68, 0.521);
    border-radius: 20px;
    min-width: 100px;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
}

.scoreTitle{
    color: rgba(0, 0, 0, 0.575);
    font-size: 15px;
}

#restart{
    margin:10px;
    min-width: 150px;
    background-color: green;
    font-size: 20px;
    border: 0;
    border-radius: 20px;
    color: white;
    padding: 10px;
}

#restart:focus{
    outline: none;
}


@media (max-width: 600px){
    #container{
        margin: auto;
        width: 280px;
    }
    #board{
        width: 280px;
        height: 280px;
        padding: 4px;
        margin-top:20px;
        margin-bottom: 10px; 
    }
    .boardCol{
        margin:4px;
        font-size: 22.4px;
        padding-top: 17px;
        padding-bottom: 17px;
    }
    .score{
        margin-top:10px;
        margin-bottom:10px;
    }
}

.value2{
    background-color: honeydew;
}
.value4{
    background-color: hotpink;
}
.value8{
    background-color: lawngreen;
}
.value16{
    background-color: olive;
}
.value32{
    background-color: orange;
}
.value64{
    background-color: firebrick;
}
.value128{
    background-color: sienna;
}
.value256{
    background-color: slateblue;
}
.value512{
    background-color: fuchsia;
}
.value1024{
    background-color: tomato;
}
.value22048{
    background-color: teal;
}
